<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-xs-4 icon text-right">
      <img src="{{day.icon_url}}">
    </div>
    <div class="col-sm-4 col-sm-push-0 col-xs-4 col-xs-push-4 temp text-left">
      {{day.high.fahrenheit}}&deg;
    </div>
    <div class="col-sm-12 col-sm-pull-0 col-xs-4 col-xs-pull-4 day">
      {{day.date.weekday}}
    </div>
  </div>
</div>
